<img src="<%= @user['avatar_url'] %>" align="left" style="float:left;margin:20px;" />
<h1>Connecting</h1>
<h2><a href="<%= @user['html_url'] %>"><%= @user['login'] %></a> to: </h2>
<p>
<% @emails.flatten.each do |email| %>
<a href="mailto:<%= email %>"><%= email %></a><br/>
<% end %>
</p>
<p>Your keys are:</p>
<% @keys.each do |k,v| %>
<p><strong>MD5 Fingerprint:</strong> <%= k %></p>
<% end %>